<a href="https://colab.research.google.com/github/Gustavoajr79/Projects2022/blob/main/Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
import numpy as np

In [16]:
data = {
"sales" :[3735.138, 443.4228, 2097.27, 732.38, 994.7052, 556.6088, 343.5528, 4022.7636, 1076.5986, 4710.535],
"food" :[249.8092, 48.2692, 141.618, 182.095, 53.8614, 51.4008, 57.6588, 107.7622, 96.9726, 187.8214]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

       sales      food
0  3735.1380  249.8092
1   443.4228   48.2692
2  2097.2700  141.6180
3   732.3800  182.0950
4   994.7052   53.8614
5   556.6088   51.4008
6   343.5528   57.6588
7  4022.7636  107.7622
8  1076.5986   96.9726
9  4710.5350  187.8214

In [25]:
data = {
"food" :[249.8092],
"calories" :[420],
"visibility" :[0.016047301],	
"sales" :[3735.138]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

       food  calories  visibility     sales
0  249.8092       420    0.016047  3735.138

In [26]:
data = {
    "Sales" :[3735.138, 443.4228, 2097.27, 732.38, 994.7052, 556.6088, 343.5528, 4022.7636, 1076.5986, 4710.535]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

       Sales
0  3735.1380
1   443.4228
2  2097.2700
3   732.3800
4   994.7052
5   556.6088
6   343.5528
7  4022.7636
8  1076.5986
9  4710.5350

In [34]:
sales = (3735.138, 443.4228, 2097.27, 732.38, 994.7052, 556.6088, 343.5528, 4022.7636, 1076.5986, 4710.535)
x = sum(sales)

In [36]:
sales = (3735.138, 443.4228, 2097.27, 732.38, 994.7052, 556.6088, 343.5528, 4022.7636, 1076.5986, 4710.535)
x = sum(sales)
print(x)

18712.974799999996